<div ng-init = "selectRestrictions = true">
	<div class="title">
		Test Your JavaScript Code
	</div>
	<!--FIRST SECTION (RESTRICTIONS)-->
	<div class = "main_section" ng-show="selectRestrictions == true">
		<div class="list_content">
			<h3 class="list_label">Whitelist</h3>
			<div class="list_itself">
				<input type = "checkbox" id="requireVariable" ng-model="needVariable" ng-hide="noVariable"/>
				<input type = "checkbox" id="requireVariableDisabled" ng-show="noVariable" disabled/>
				<label for="requireVariable" ng-hide="noVariable">Must include a variable</label>
				<label for="requireVariableDisabled" ng-show="noVariable">Must include a variable</label>
				<br/>
				<br/>
				<input type = "checkbox" id="requireIf" ng-model="needIf" ng-hide="noIf"/>
				<input type = "checkbox" id="requireIfDisabled" ng-show="noIf" disabled/>
				<label for="requireIf" ng-hide="noIf">Must include an <code>if</code> statement</label>
				<label for="requireIfDisabled" ng-show="noIf">Must include an <code>if</code> statement</label>
				<br/>
				<ul class = "structure_list" ng-show="needIf">
					<li>
						<input type="checkbox" id="nestForInIf" ng-model="needForInIf">
						<label for="nestForInIf">Add a <code>for</code> loop within your <code>if</code> statement</label>
					</li>
					<br/>
					<li>
						<input type="checkbox" id="nestWhileInIf" ng-model="needWhileInIf">
						<label for="nestWhileInIf">Add a <code>while</code> loop within your <code>if</code> statement</label>
					</li>
				</ul>
				<br/>
				<br ng-show="needIf"/>

				<input type = "checkbox" id="requireFor" ng-model="needFor" ng-hide="noFor"/>
				<input type = "checkbox" id="requireForDisabled" ng-show="noFor" disabled/>
				<label for="requireFor" ng-hide="noFor">Must include a <code>for</code> loop</label>
				<label for="requireForDisabled" ng-show="noFor">Must include a <code>for</code> loop</label>
				<br/>
				<ul class = "structure_list" ng-show="needFor">
					<li>
						<input type="checkbox" id="nestIfInFor" ng-model="needIfInFor">
						<label for="nestIfInFor">Add an <code>if</code> statement within your <code>for</code> loop</label>
					</li>
					<br/>
					<li>
						<input type="checkbox" id="nestWhileInFor" ng-model="needWhileInFor">
						<label for="nestWhileInFor">Add a <code>while</code> loop within your <code>for</code> loop</label>
					</li>
				</ul>
				<br/>
				<br ng-show="needFor"/>

				<input type = "checkbox" id="requireWhile" ng-model="needWhile" ng-hide="noWhile"/>
				<input type = "checkbox" id="requireWhileDisabled" ng-show="noWhile" disabled/>
				<label for="requireWhile" ng-hide="noWhile">Must include a <code>while</code> loop</label>
				<label for="requireWhileDisabled" ng-show="noWhile">Must include a <code>while</code> loop</label>
				<br/>
				<ul class = "structure_list" ng-show="needWhile">
					<li>
						<input type="checkbox" id="nestForInWhile" ng-model="needForInWhile">
						<label for="nestForInWhile">Add a <code>for</code> loop within your <code>while</code> loop</label>
					</li>
					<br/>
					<li>
						<input type="checkbox" id="nestIfInWhile" ng-model="needIfInWhile">
						<label for="nestIfInWhile">Add an <code>if</code> statement within your <code>while</code> loop</label>
					</li>
				</ul>
			</div>
			<br/>
		</div>
		<div class="list_content">
			<h3 class="list_label">Blacklist</h3>
			<div class="list_itself">
				<input type = "checkbox" id="noVariable" ng-model="noVariable" ng-hide="needVariable"/>
				<input type = "checkbox" id="noVariableDisabled" ng-show="needVariable" disabled/>
				<label for="noVariable" ng-hide="needVariable">Must <b>not</b> include a variable</label>
				<label for="noVariableDisabled" ng-show="needVariable">Must <b>not</b> include a variable</label>
				<br/>
				<br/>
				<input type = "checkbox" id="noIf" ng-model="noIf" ng-hide="needIf"/>
				<input type = "checkbox" id="noIfDisabled" ng-show="needIf" disabled/>
				<label for="noIf" ng-hide="needIf">Must <b>not</b> include an <code>if</code> statement</label>
				<label for="noIfDisabled" ng-show="needIf">Must <b>not</b> include an <code>if</code> statement</label>
				<br/>
				<br/>
				<input type = "checkbox" id="noFor" ng-model="noFor" ng-hide="needFor"/>
				<input type = "checkbox" id="noForDisabled" ng-show="needFor" disabled/>
				<label for="noFor" ng-hide="needFor">Must <b>not</b> include a <code>for</code> loop</label>
				<label for="noForDisabled" ng-show="needFor">Must <b>not</b> include a <code>for</code> loop</label>
				<br/>
				<br/>
				<input type = "checkbox" id="noWhile" ng-model="noWhile" ng-hide="needWhile"/>
				<input type = "checkbox" id="noWhileDisabled" ng-show="needWhile" disabled/>
				<label for="noWhile" ng-hide="needWhile">Must <b>not</b> include a <code>while</code> loop</label>
				<label for="noWhileDisabled" ng-show="needWhile">Must <b>not</b> include a <code>while</code> loop</label>
			</div>
		</div>
		<input class="submit" type = "button" value="Submit Restrictions" ng-click="selectRestrictions = false; parseIt();"/>
	</div>
	<br/>


	<!--SECOND SECTION (CODE)-->
	<div class = "main_section" ng-show="selectRestrictions == false">
		<form ng-submit="parseIt()">
			<textarea rows="10" cols="50" id="codeTextArea" name="codeTextArea" placeholder="insert JS code here" ng-model="jsCode" ui-codemirror ui-codemirror-opts="editorOptions" ng-change="parseIt()"></textarea>
		</form>
		<br/>
		<div class="error_messages">
			<div id="successMessage">{{successMessage}}</div>
			<br ng-show="successMessage!=undefined"/>
			<div>{{variableError}}</div>
			<br ng-show="variableError!=undefined"/>
			<div>{{ifError}}</div>
			<br ng-show="ifError!=undefined"/>
			<div>{{nestedForIfError}}</div>
			<br ng-show="nestedForIfError!=undefined"/>
			<div>{{nestedWhileIfError}}</div>
			<br ng-show="nestedWhileError!=undefined"/>
			<div>{{forError}}</div>
			<br ng-show="forError!=undefined"/>
			<div>{{nestedIfForError}}</div>
			<br ng-show="nestedIfForError!=undefined"/>
			<div>{{nestedWhileForError}}</div>
			<br ng-show="nestedWhileForError!=undefined"/>
			<div>{{whileError}}</div>
			<br ng-show="whileError!=undefined"/>
			<div>{{nestedIfWhileError}}</div>
			<br ng-show="nestedIfWhileError!=undefined"/>
			<div>{{nestedForWhileError}}</div>
		</div>
		<br/>
		<input class="cancel" type="button" value="Change Restrictions" onClick="window.location.reload()" />
	</div>
	
</div>


<!--MISCELLANEOUS (ACORN PARSE RESPONSE)-->
<div class="acorn_parse">
	{{parsedCode.ast.body}}
</div>