 <!-- public/views/index.html -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- CSS -->
	<link rel="stylesheet" href="stylesheets/main.css"> <!-- custom styles -->

	<title>Khan Academy JavaScript Test Application</title>

</head>
<body ng-app="kajsApp">

	<div ng-view></div>

	<!-- JS -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/jquery/jquery.js"></script>

	<!-- ANGULAR CUSTOM -->
	<script src="coffee_scripts/app.js"></script>
</body>
</html>