 <!-- public/views/index.html -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- CSS -->
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">

	<title>Khan Academy JavaScript Test Application</title>

</head>
<body ng-app="kajsApp">

	<div ng-view></div>

	<!-- JS -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/jquery/jquery.js"></script>

	<!-- CODEMIRROR JS -->
	<script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
	
	<!-- ANGULAR CUSTOM -->
	<script src="coffee_scripts/app.js"></script>


	<div class="description">
		Made by DJ Jagannathan for a Khan Academy Project Interview
		<br/>
		19 August 2014
	</div>
</body>
</html>